/* 
  General Styles // Desktop // Components
  --------------
  Within the CSS
  1. Colors
  2. Font Sizes
  3. Layout

  1. Utilities
*/

body{
  background-color: #FAEECF;
  color: #6E0801;
  font-family: 'Libre Franklin', sans-serif;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-row: 0;
  margin: 0 60px;
  height: 100vh;
}
h1{
  font-size: 52px;
  font-weight: 600;
  line-height: 36px;
}
h1 a{
  text-decoration: none;
  color: #6E0801;
}

.email-link{
  color: #6E0801;
  margin-bottom: 8px;
}
.social-links a{
  margin: 4px;
  text-decoration: none;
  color: #6E0801;
}
.social-links a:hover{
  color: #8f0a01;
}
nav,
footer{
  grid-column: span 10;
  grid-column-start: 2;
  grid-column-end: 12;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.nav-links{
  display: flex;
  align-items: center;
}
.links{
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color:#6E0801;
  padding: 10px;
  width: 60px;
  text-align: center;
  display: block;
  border-radius: 100%;
  margin: 0 5px;
}
.selected{
  border: 1px solid #6E0801;
}
.links:hover{
  /* border: 1px solid #6E0801; */
  background-color: #6E0801;
  color: #FAEECF;
}
main{
  grid-column: span 10;
  grid-column-start: 2;
  grid-column-end: 12;
  width: 100%;
  margin-top: 40px;
  top: 0;
  bottom: 0;
}
.mt-8{
  margin-top: 3rem;
}
.works{
  width: 60%;
  margin: 0 auto;
}
.clip-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  color:#6E0801;
  margin: 12px 0;
}
.clip{
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  margin-right: 5px;
  text-decoration: underline;
}
.clip-subheader{
  text-decoration: none;
  color: #6E0801;
}
.clip-subheader:hover{
  text-decoration: underline;
}
.publisher{
  margin-left: 5px;
  font-weight: 200;
  text-decoration: none;
  font-style: italic;
}
/* About Page */
.about-links{
  font-weight: 600;
  text-decoration: none;
  color: #6E0801;
  cursor: pointer;
}
.about-links:hover{
  text-decoration: underline;
}
.contact-links{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact-links a{
  width: 200px;
  text-transform: none;
  font-size: 14px;
  font-weight: 400;
  display: block;
  margin-top: 12px;
  line-height: 26px;
}
.about{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 100%;
}
.about-bio{
  width: 60%;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  margin: 0 auto;
}
.about-bio span{
  display: block;
  margin-bottom: 26px;
}
/* 
  Tablet
*/
@media (max-width: 850px) { 
  h1{
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
    margin: 0;
  }
 }
@media (max-width: 768px) { 
  h1{
    font-size: 42px;
    font-weight: 600;
    line-height: 56px;
    margin: 0;
  }
  nav{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .about{
    display: block;
  }
  .about-bio,.works{
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
    line-height: 26px;
  }
  .contact{
    margin-top: 24px;
  }
  .contact-links a{
    width: 100%;
    text-decoration: none;
    margin-top: 19px;
  }
 }
@media (max-width: 711px) {
  nav{
    justify-content: center;
  }
}
/*
  Mobile
  -------
*/
@media (max-width: 500px) { 
body{
  display: block
}
nav{
  grid-column: 1fr;
  width: 100%;
  height: auto;
}
h1{
  font-size: 36px;
  font-weight: 600;
  margin: 0;
}
}
@media (max-width: 350px) { 
h1{
  font-size: 37px;
  width: 100%;
  font-weight: 600;
  margin: 0;
}
body{
  margin: 0 30px;
}
}
 